*.o

d2q9-bgk
d2q9-bgk.out
final_state.dat
av_vels.dat
final_state.png
advi_results/advi_results.advixeproj
advi_results/advi_results.advixeproj
advi_results/project_read_only.dflgadvixe
advi_results/project_read_only.infoadvixe
advi_results/e000/e000.advixeexp
advi_results/e000/hs000/18864.dataLim
advi_results/e000/hs000/hs000.advixe
advi_results/e000/hs000/MasterCollectionFlag.dflgadvixe
advi_results/e000/hs000/MasterCollectionFlag.infoadvixe
advi_results/e000/hs000/MasterHasStarted.dflgadvixe
advi_results/e000/hs000/MasterHasStarted.infoadvixe
advi_results/e000/hs000/runtool.18864.ipc
advi_results/e000/hs000/config/analysis_type.cfg
advi_results/e000/hs000/config/collection.cfg
advi_results/e000/hs000/config/context_values.cfg
advi_results/e000/hs000/config/runss.options
advi_results/e000/hs000/log/mrtehelpers-2022.03.08-16h03m29s.18864.log
advi_results/e000/hs000/log/mrtehelpers-2022.03.08-16h03m29s.18871.log
advi_results/e000/hs000/log/perfrun-2022.03.08-16h03m29s.18864.log
advi_results/e000/hs000/log/perfrun-2022.03.08-16h03m29s.18871.log
advi_results/e000/hs001/19155.dataLim
advi_results/e000/hs001/hs001.advixe
advi_results/e000/hs001/MasterCollectionFlag.dflgadvixe
advi_results/e000/hs001/MasterCollectionFlag.infoadvixe
advi_results/e000/hs001/MasterHasStarted.dflgadvixe
advi_results/e000/hs001/MasterHasStarted.infoadvixe
advi_results/e000/hs001/runtool.19155.ipc
advi_results/e000/hs001/config/analysis_type.cfg
advi_results/e000/hs001/config/collection.cfg
advi_results/e000/hs001/config/context_values.cfg
advi_results/e000/hs001/config/runss.options
advi_results/e000/hs001/log/mrtehelpers-2022.03.08-16h11m55s.19155.log
advi_results/e000/hs001/log/mrtehelpers-2022.03.08-16h11m55s.19162.log
advi_results/e000/hs001/log/perfrun-2022.03.08-16h11m55s.19155.log
advi_results/e000/hs001/log/perfrun-2022.03.08-16h11m55s.19162.log
